[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"

[dev-packages]
pipenv-setup = "*"
twine = "*"
bumpversion = "*"

[requires]
python_version = "3.8"
